/* Global link styles */
a {
    color: blue; /* Change this to your desired link color */
    text-decoration: underline; /* Adds an underline */
    cursor: pointer; /* Shows a pointer cursor on hover */
}

a:hover {
    color: darkblue; /* Change to your preferred hover color */
    text-decoration: none; /* Optional: remove underline on hover */
}

a:visited {
    color: purple; /* Change this to the color you want for visited links */
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 878px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 6px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 369px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 11px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-2 {
  padding: 11px 30px;
}

.u-section-1 .u-image-1 {
  width: 495px;
  height: 295px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 495px;
  height: 295px;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 244px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-1 .u-image-2 {
    width: 410px;
    height: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 179px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 236px;
  }

  .u-section-1 .u-image-2 {
    width: 300px;
    height: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 354px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 223px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 524px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: -3px -16px 3px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 444px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 242px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.375rem;
  margin: 38px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-social-icons-1 {
  height: 76px;
  min-height: 16px;
  width: 162px;
  min-width: 42px;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 524px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }
}
